@import url('https://fonts.googleapis.com/css?family=MedievalSharp|Josefin+Sans');

#app {
  height: 100vh;
  width: 100vw;
  font-family: 'Josefin Sans', sans-serif;
  overflow: auto;
  width: 100vw;
  font-family: 'Josefin Sans', sans-serif;
  overflow: auto;
  background-color: #FAFDED;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

button, Link, a {
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #17223B;
  background-color: #FF6768;
}