@import url('https://fonts.googleapis.com/css?family=MedievalSharp|Josefin+Sans');

#app {
  min-height: 100vh;
  max-width: 100vw;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
}

* {
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar-button {
  display: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}



.page-layout-1 {
  width: 100%;
  padding-bottom: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.page-layout-2 {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 75px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide-scroll {
  overflow-y: hidden;
}


/* Button stylings */
.btn {
  display: flex;
  align-items: center;
  text-align: center;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border-radius: 2px;
  background: linear-gradient(#0000, rgb(0 0 0/50%)) top/100% 800%;
  text-shadow: none;
  color: #ffffff;
}
.btn:hover {
  color: #ffffff;
  cursor: pointer;
  background-position: bottom;
}

.btn-type-1 {
  font-weight: 600;
  padding: 2px 20px;
}

.btn-type-2 {
  font-weight: 600;
  padding: 2px 18px;
  margin: 5px;
}

.btn-type-3 {
  font-weight: 500;
  padding: 1px 8px;
  margin: 5px;
}

.btn-type-4 {
  margin: auto;
  padding: 1px 8px;
}

.btn-type-5 {
  padding: 1px 10px;
}

.btn-color-1 {
  background-color: #166696;
}
.btn-color-1:hover {
  background-color: #166696;
}

.btn-color-1-outline {
  border: 2px solid #166696;
  color: #166696;
  background: linear-gradient(#0000, rgb(22 102 150/40%)) top/100% 800%;
}

.btn-color-2 {
  background-color: #e4c900;
}
.btn-color-2:hover {
  background-color: #e4c900;
}

.btn-color-3 {
  background-color: #00a761;
}
.btn-color-3:hover {
  background-color: #00a761;
}

.btn-color-4 {
  background-color: #f11e00;
}
.btn-color-4:hover {
  background-color: #f11e00;
}

.back-btn {
  position: absolute;
  left: 40px;
  top: 15px;
  z-index: 50;
}

.back-btn-2 {
  position: absolute;
  top: 8px;
  left: 10px;
  z-index: 50;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: inherit;
}
.dashboard-close-btn {
  position: absolute;
  top: 2px;
  right: 10px;
  z-index: inherit;
}

.enable-pointer {
  pointer-events: auto;
}

.create-btn {
  position: absolute;
  right: 40px;
  top: 15px;
}

.create-btn-2 {
  position: absolute;
  right: 15px;
  top: 5px;
}

.tiny-btn {
  height: 12px;
  width: 25px;
  margin-bottom: 1px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.unavailable {
  background-color: #707070;
  opacity: .3;
  cursor: default;
  pointer-events: none;
}

.plaintext-link {
  color: #60ccfb;
  text-decoration: none;
}
.plaintext-link-dark {
  color: #057FB3;
  text-decoration: none;
}
.plaintext-link:hover, .plaintext-link-dark:hover {
  text-decoration: underline;
}


/* Logo stylings */
.small-logo {
  height: 35px;
  margin-right: 7px;
}

.medium-logo {
  height: 40px;
  margin-right: 10px;
}

.large-logo {
  height: 90px;
}

.xl-logo {
  height: 120px;
}


/* base input styling */
.base-input {
  font-family: inherit;
  width: 50px;
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid #040114;
  background-color: inherit;
  color: #040114;
}

.small-input {
  width: 40px;
  font-size: medium;
  font-weight: 700;
  text-align: center;
}

/* .medium-input {
  min-width: 550px;
  max-width: 550px;
}

.large-input {
  min-width: 100%;
  max-width: 100%;
} */

/* Form stylings */
.vertical-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  border-radius: 2px;

}

.horizontal-form {
  width: 100%;
  padding: 0 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
  text-align: center;
}

/* Form input styles */
.form-header {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px 3px 0 0;
  background-color: #002d45;
  color: #ffffff;
  font-family: 'MedievalSharp', sans-serif;
}

.form-piece {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-piece-split {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}
.form-piece-split > p {
  margin: 0;
}

.form-dash {
  height: 2px;
  width: 5px;
  background-color: #040114;
}

.form-label {
  opacity: 0.6;
  position: absolute;
  top: 10px;
  left: 0px;
  transition: all 0.2s ease;
  font-size: 18px;
  color: #040114;
  cursor: text;
}
.form-input:focus + .form-label,
.form-input:valid:not(.empty-input) + .form-label {
  opacity: 1;
  top: 0px;
  font-size: 60%;
  transition: all 0.2s ease;
  font-weight: bold;
}

.form-label-alt {
  color: #ffffff;
}
.hidden-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form-input {
  padding: 5px 5px 4px 0px;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid #040114;
  background-color: inherit;
  color: #040114;
}
.form-input:focus {
  border-bottom: 1px solid #01d99c;
}
.form-input-alt {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}
select.form-input {
  height: 34px;
}
.form-input-split {
  width: 25%;
  position: relative;
}

.required:after {
  content: '*';
}


/* Collections styling */
.collections-display {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px 0;
  margin: 25px 0;
}

.collections {
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
  gap: 10px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.16), 5px 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 2;
  color: #ffffff;
  text-shadow: 0 0 9px black;
  position: relative;
}

.collections-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .9;
  z-index: -1;
  border-radius: inherit;
  filter: brightness(80%);
}


/* Dashboard styling */
.dashboard {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  margin: 25px 0;
}

.dashboard-item {
  min-height: 160px;
  width: 400px;
  padding: 50px 20px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
  text-align: center;
  border-radius: 3px;
  border-bottom: 1px solid #166696;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.dashboard-head {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px 3px 0 0;
  background-color: #166696;
  color: #ffffff;
  font-family: 'MedievalSharp', sans-serif;
}

/* breakdown pages styling */
.breakdown-top {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.breakdown-base-info {
  min-height: 125px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.breakdown-top-buttons {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Breakdown styling */
.breakdown {
  width: 85%;
  padding: 45px 20px 10px;
  margin: 10px 0 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
  border-bottom: 3px solid #166696;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.breakdown-head {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
  background-color: #166696;
  color: #ffffff;
}

.breakdown-piece {
  width: fit-content;
  position: relative;
  padding: 20px 10px 0;
  margin: 5px 0;
}

.large-breakdown-piece {
  max-width: 90%;
  margin: 10px 5%;
}

.breakdown-label {
  position: absolute;
  top: .5px;
}

.breakdown-text {
  min-width: 200px;
}

.large-breakdown-piece > .breakdown-text {
  min-width: 0;
}

.breakdown-break {
  width: 90%;
  margin: 0 5%;
  border-bottom: 2px solid #166696;
}


/* info list styling */
.info-list-group {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 25px;
  gap: 25px 0;
}

.info-list-wrapper {
  width: 45%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  gap: 10px;
  padding: 55px 0px 15px;
  border-bottom: 2px solid #166696;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.info-list-full {
  width: 80%;
}

.info-list-head {
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0px;
  border-radius: 5px 5px 0 0;
  background-color: #166696;
  color: #ffffff;
}

.info-list-item {
  min-height: 30px;
  width: 85%;
  margin: 5px 0px;
  padding: 0px 20px 5px;
  border-bottom: 1px solid #166696;
}

/* Accordion styling */
.accordion {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.accordion-item {
  width: 100%;
  padding-top: 50px;
  margin-bottom: 15px;
  position: relative;
}

.accordion-item-header {
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 0px;
  font-weight: 700;
  font-family: 'MedievalSharp', sans-serif;
  border-radius: 3px 3px 0 0;
  background-color: #166696;
  color: #ffffff;
  user-select: none;
}

.accordion-content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 1s, padding 1s;
}

.accordion-content-expanded {
  padding: 15px 0 10px;
  grid-template-rows: 1fr;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.accordion-content-wrapper > div {
  overflow: hidden;
}

.accordion-content {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.accordion-item-status {
  background-color: inherit;
  border: none;
  font-weight: 700;
  color: inherit;
  position: absolute;
  right: 10px;
}