#encounter-view {
  width: 100%;
  padding: 25px 10px 10px;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  background-color: blue;
}

#back-to-info {
  position: absolute;
  top: 25px;
  left: 50px;
}

#viewed-encounter-name-stuff {
  min-height: 45px;
  display: flex;
  align-items: center;
}

#encounter-characters {
  position: relative;
  width: 97%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1E4E73;
  color: white;
}

#character-view {
  min-height: 160px;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}

#encounter-monsters {
  position: relative;
  width: 97%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E4E73;
  color: white;
}

#monster-view {
  position: relative;
  min-height: 160px;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}