.encounter-summary {
  min-height: calc(100vh - 125px);
  width: 100%;
  padding: 20px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.summary-top {
  width: 90%;
  padding-left: 130px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.encounter-base-info {
  height: 200px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.summary-top-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary-added {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.encounter-added {
  width: 45%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 60px 0 5px;
  gap: 10px;
}

.encounter-monster-short {
  min-height: 50px;
  width: 100%;
  margin: 5px 0;
  padding: 0 20px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #286A9C;
}