.encounter-summary {
  min-height: calc(100vh - 125px);
  width: 100%;
  padding: 20px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: orange;
}

.summary-top {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 25px;
}

.encounter-base-info {
  height: 200px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: pink;
}

.encounter-run-link {
  height: 40px;
  font-size: 20px;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #CEC2AE;
  background-color: #E94445;
}

.summary-top-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary-added {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.encounter-added {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  background-color: blue;
}

.encounter-monster-short {
  height: 100px;
  width: 90%;
  margin: 5px 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: beige;
}

.monster-base-info {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}