#stuff-nav {
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  background-color: #6B778D;
}

.stuff-nav-links {
  padding: 0 10px;
}

.stuff-nav-links:hover, .stuff-nav-links:active {
  color: #263859;
  background-color: #FF6768;
}