.guide-title {
  width: 100%;
  height: 85px;
  padding-left: 25%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guide-body {
  width: 100%;
  padding-left: 3%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#guide-filters {
  height: fit-content;
  width: 22%;
  gap: 5px;
  position: sticky;
  top: 20px;
  padding: 20px 0;
}

#clear-btn {
  font-weight: 400;
  padding: 5px 12px;
  margin: 2px;
}

.guide-results {
  width: 75%;
  display: table;
}

#guide-result-head {
  height: 55px;
  pointer-events: none;
  font-weight: 700;
  color: #040114;
  border-radius: 3px 3px 0 0;
  background-color: #166696;
  border: none;
  color: #ffffff;
}

.guide-result {
  width: 92%;
  min-height: 50px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.85fr 1.25fr;
  grid-auto-columns: .6fr;
  align-items: center;
  padding: 10px 15px;
  transition: all .5s ease;
  cursor: pointer;
  border-radius: 2px;
  color: #002d45;
  background-color: inherit;
  border-bottom: 2px solid #166696;
  font-family: 'MedievalSharp', sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.result-name {
  font-weight: 700;
}

.guide-result:hover {
  width: 96%;
  min-height: 55px;
}