.tracker-display {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tracker-table {
  width: 100%;
  margin-top: 25px;
}

#tracker-head {
  height: 55px;
  pointer-events: none;
  color: #EBEBEB;
  background-color: #286A9C;
}

.tracker {
  min-height: 50px;
  padding: 5px 12px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.25fr 3fr 1fr .5fr;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 16pt;
  font-weight: 600;
  border-bottom: 3px solid #286A9C;
  font-family: 'MedievalSharp', sans-serif;
}

.inititiative-thing {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
}

.tracker-name {
  cursor: pointer;
}

.health-display {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.info-button {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 15px;
  border-radius: 50%;
  border: 2px solid #286A9C;
  background-color: #286A9C;
  color: #EBEBEB;
  cursor: pointer;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}